<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../../partials/head', {stylesheet: 'style', title: 'Perfil'}) %>

<body>
    
    <!--Header-->
    <%- include('../../partials/header') %>

    <main>
        
        <%- include('../../partials/accountMenu') %>

    </main>

</body>