<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../../partials/head', {stylesheet: 'style', title: 'Perfil'}) %>

<body>
    
    <!--Header-->
    <%- include('../../partials/header') %>

    <main>
        
        <%- include('../../partials/accountMenu') %>
        <!-- ! Cartel próximamente hasta que esté lista esta vista -->
        <div class="acc-view">
            <div class="cartel-proximamente">
                <h1 class="proximamente">Estamos trabajando en algunas funciones, disculpe las molestias.</h1>
                <img src="/img/logo-blanco.png">
            </div>
        </div>

    </main>

</body>