<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head', {stylesheet: 'style', title: 'Carrito'}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <main>
        <h2 class= "titulo-carrito">Carrito de compras (Unidades)</h2>
        <div class= "productos_seleccionados-destacados">
            <div class= "productos_seleccionados">
                <div class= "productos">
                    <img src= "/img/items/spaceships/nave2.png"> </img>                    
                    <div class="precio-descuento-descripcion-remover">
                        <p>$5.000</p>
                        <p>10% OFF</p>
                        <p>Nave2</p>
                        <button> Remover </button> 
                    </div>
                </div>
            </div> 
            <div class= "destacados">   
                <p>Destacados</p>
                <img src= "/img/items/spaceships/nave3.jpg"> </img>
                <img src= "/img/items/spaceships/nave3.jpg"> </img>
                <img src= "/img/items/spaceships/nave3.jpg"> </img>
            </div>
        </div> 
        <div class= "descripcion-recomendados">   
            <div class= "descripcion-productos">
                <p id= "descripcion-p">Descripcion de productos</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem in expedita dolorum. Tempore ad praesentium itaque commodi quasi necessitatibus laudantium quam debitis alias, eaque saepe fugiat vitae porro voluptas rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt earum harum maxime recusandae quas quis cupiditate molestiae corrupti vitae iure distinctio quia sunt, ex assumenda dolorem doloremque aperiam! Id, unde!</p>
            </div>
            <div class= "recomendado">
                <p>Recomendado para ti</p>
                <div class= "recomendado-imagen">
                    <img src= "/img/items/weapons/arma5.jpg"> </img>
                </div>
                <div class= "recomendado-imagen">
                    <img src= "/img/items/weapons/arma5.jpg"> </img>
                </div> 
                <div class= "recomendado-imagen">
                    <img src= "/img/items/weapons/arma5.jpg"> </img>
                </div>
                <div class= "recomendado-imagen">
                    <img src= "/img/items/weapons/arma5.jpg"> </img>
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
     <%- include('../partials/footer') %>
     <script src="/js/carrito.js"></script>

</body>
</html>