<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head', {stylesheet: 'style', title: 'Carrito'}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <main>
        <h2 class= "titulo-carrito">Carrito de compras (Unidades)</h2>
        <div class= "productos_seleccionados-destacados">
            <div class= "productos_seleccionados"></div> 
        </div> 
        
    </main>

    <!--Footer-->
     <%- include('../partials/footer') %>
     <script src="/js/carrito.js"></script>

</body>
</html>