<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/comprar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar - Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2a1a03283b.js" crossorigin="anonymous"></script>
</head>

<body>
    
  <!--Header-->
  <%- include('../partials/header') %>
  
    <form class= "formulario-register" action="/users/register" method="POST" enctype="multipart/form-data">
      <h4 class="title">Comprar </h4>
      <h4 class="ya-tienes-cuenta">¿Quieres seguir comprando? - <a href="/marketplace">Marketplace</a></h4>
      <input class="casillas" type="email" name="email" placeholder="Correo electrónico"/>
      <br>
      <input class="casillas" type="password" name="password" placeholder="Contraseña"/>
      <br>
      <input class="casillas" type="email" name="email" placeholder="Correo electrónico de tu amigo"/>
      <br>
      <input class="casillas" type="text" name="usuario" placeholder="Usuario de tu amigo"/>
      <br>
      <button class= "boton" type="reset"> Reiniciar </button>
      <button class= "boton" type="submit"> Enviar </button>
    </form>

</body>

<footer>

</footer>
</html>