<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-izquierda">
                <ul class="nav-ul-izq">
                    <li class="nav-li-izq"><a href="/marketplace" class="nav-li-a">Marketplace</a></li>
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Planetas</a></li>
                </ul>
            </div>
            <div class="nav-centro">
                <a href="/"><img src="img/logo-blanco.png" alt="logo" class="logo"></a>
            </div>
            <div class="nav-derecha">
                <ul class="nav-ul-der">
                    <li class="nav-li-der"><a href="/carrito" class="nav-li-a">Carrito</a></li>
                    <li class="nav-li-der"><a href="/register" class="nav-li-a">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                </ul>
            </div>
        </nav>
</header>
    <main>
        <h2 class= "titulo-carrito">Carrito de compras (Unidades)</h2>
        <div class= "productos_seleccionados-destacados">
            <div class= "productos_seleccionados">    
                <div class= "productos">
                    <img src= "img/naves/nave2.png"> </img>                    
                    <div class="precio-descuento-descripcion-remover">
                        <p>$5.000</p>
                        <p>10% OFF</p>
                        <p>Nave2</p>
                        <button> Remover </button> 
                    </div>
                </div>
                <div class= "productos">
                    <img src= "img/armas/arma2.jpg"> </img>
                    <div class="precio-descuento-descripcion-remover">                        
                        <p>$1.000</p>
                        <p>15% OFF</p>
                        <p>Laser</p>
                        <button> Remover </button>  
                    </div>   
                </div>
                <div class= "productos">
                    <img src= "img/armas/arma4.jpg"> </img>
                    <div class="precio-descuento-descripcion-remover">
                        <p>$1.500</p>
                        <p>0% OFF</p>
                        <p>Misil</p>
                        <button> Remover </button> 
                    </div> 
                </div>
                <div class= "productos">
                    <img src= "img/armas/arma2.jpg"> </img>
                    <div class="precio-descuento-descripcion-remover">                        
                        <p>$1.000</p>
                        <p>15% OFF</p>
                        <p>Laser</p>
                        <button> Remover </button>  
                    </div>   
                </div>
                <div class= "total">
                    <p>VALOR TOTAL</p>
                </div>
                <div class= "button-carrito">
                    <button> Continuar comprando </button> 
                    <button> Comprar para un amigo </button> 
                    <button> Comprar </button> 
                </div>
            </div> 
            <div class= "destacados">   
                <p>Destacados</p>
                <img src= "img/naves/nave3.jpg"> </img>
                <img src= "img/naves/nave3.jpg"> </img>
                <img src= "img/naves/nave3.jpg"> </img>
            </div>
        </div> 
        <div class= "descripcion-recomendados">   
            <div class= "descripcion-productos">
                <p id= "descripcion-p">Descripcion de productos</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem in expedita dolorum. Tempore ad praesentium itaque commodi quasi necessitatibus laudantium quam debitis alias, eaque saepe fugiat vitae porro voluptas rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt earum harum maxime recusandae quas quis cupiditate molestiae corrupti vitae iure distinctio quia sunt, ex assumenda dolorem doloremque aperiam! Id, unde!</p>
            </div>
            <div class= "recomendado">
                <p>Recomendado para ti</p>
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div>
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div> 
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div>
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>

</footer>
</html>