<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
            <nav>
                <div class="nav-izquierda">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Mercado</a></li>
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Planetas</a></li>
                    </ul>
                </div>
                <div class="nav-centro">
                    <img src="../img/Deer1.png" alt="logo" class="logo">
                </div>
                <div class="nav-derecha">
                    <ul>
                        <li><a href="#">Carrito</a></li>
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="#">Billetera</a></li>
                    </ul>
                </div>
            </nav>
    </header>
    <main>
        <h2 class= "titulo-carrito">Carrito de compras (Unidades)</h2>
        <div class= "productos_seleccionados-destacados">
            <div class= "productos_seleccionados">    
                <div class= "productos">
                    <img src= "img/naves/nave2.png"> </img>                    
                    <div class="precio-descuento-descripcion-remover">
                        <p>$5.000</p>
                        <p>10% OFF</p>
                        <p>Nave2</p>
                        <button> Remover </button> 
                    </div>
                </div>
                <div class= "productos">
                    <img src= "img/armas/arma2.jpg"> </img>
                    <div class="precio-descuento-descripcion-remover">                        
                        <p>$1.000</p>
                        <p>15% OFF</p>
                        <p>Laser</p>
                        <button> Remover </button>  
                    </div>   
                </div>
                <div class= "productos">
                    <img src= "img/armas/arma4.jpg"> </img>
                    <div class="precio-descuento-descripcion-remover">
                        <p>$1.500</p>
                        <p>0% OFF</p>
                        <p>Misil</p>
                        <button> Remover </button> 
                    </div> 
                </div>
                <div class= "productos">
                    <img src= "img/armas/arma2.jpg"> </img>
                    <div class="precio-descuento-descripcion-remover">                        
                        <p>$1.000</p>
                        <p>15% OFF</p>
                        <p>Laser</p>
                        <button> Remover </button>  
                    </div>   
                </div>
                <div class= "total">
                    <p>VALOR TOTAL</p>
                </div>
                <div class= "button-carrito">
                    <button> Continuar comprando </button> 
                    <button> Comprar para un amigo </button> 
                    <button> Comprar </button> 
                </div>
            </div> 
            <div class= "destacados">   
                <p>Destacados</p>
                <img src= "img/naves/nave3.jpg"> </img>
                <img src= "img/naves/nave3.jpg"> </img>
                <img src= "img/naves/nave3.jpg"> </img>
            </div>
        </div> 
        <div class= "descripcion-recomendados">   
            <div class= "descripcion-productos">
                <p id= "descripcion-p">Descripcion de productos</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem in expedita dolorum. Tempore ad praesentium itaque commodi quasi necessitatibus laudantium quam debitis alias, eaque saepe fugiat vitae porro voluptas rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt earum harum maxime recusandae quas quis cupiditate molestiae corrupti vitae iure distinctio quia sunt, ex assumenda dolorem doloremque aperiam! Id, unde!</p>
            </div>
            <div class= "recomendado">
                <p>Recomendado para ti</p>
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div>
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div> 
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div>
                <div class= "recomendado-imagen">
                    <img src= "img/armas/arma5.jpg"> </img>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>

</footer>
</html>