<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
</head>

<body  id="principal">
    <header>
            <nav>
                <div class="nav-izquierda">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/marketplace">Marketplace</a></li>
                        <li><a href="#">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                        <li><a href="#">Planetas</a></li>
                    </ul>
                </div>
                <div class="nav-centro">
                    <img src="img/Deer1.png" alt="logo" class="logo">
                </div>
                <div class="nav-derecha">
                    <ul>
                        <li><a href="/carrito">Carrito</a></li>
                        <li><a href="#">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                        <li><a href="#">Billetera</a></li> <!--No podemos hacer ninguna pestaña de billetera, por ahora lo dejemos asi pero seguramente borremos esto-->
                    </ul>
                </div>
            </nav>
    </header>
    <main id="main-home">
        <div class="main-img-container">
            <img src="img/main-img.jpg" alt="main-img" class="main-img1">
        </div>
        <div class="container-civ">
            <div class="div-civilizacion-img">
                <img src="img/civilizacion-img1.jpg" alt="civilizacion-img1.jpg" class="civilizacion-img1" />
            </div>
            <div class="div-civilizacion-txt">
                <h1 class="h1-civilizacion">Crea tu propia civilización</h1>
                <p class="p-civilizacion">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                <br>
                Cumque, molestiae quia voluptatem ad dolorum repudiandae id 
                <br>
                praesentium obcaecati fuga iste, magnam eligendi cupiditate, neque mollitia!
                </p>
            </div>
        </div>
        <h1 class="h1-elige-raza">Elige tu raza</h1>
        <div class="container-raza">
            <div class="raza-1">
                <img src="img/protoss.jpg" alt="protoss-1" class="protoss-1">
            </div>
            <div class="raza-2">
                <img src="img/terran.jpg" alt="terran-1" class="terran-1">
            </div>
            <div class="raza-3">
                <img src="img/zerg.jpg" alt="zerg-1" class="zerg-1">
            </div>
        </div>
    </main>
</body>
<footer>

</footer>
</html>