<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body  id="principal">
    <header class="header">
            <nav class="nav">
                <div class="nav-centro">
                    <a href="/"><img src="img/logo-blanco.png" alt="logo" class="logo"></a>
                </div>
                <div class="nav-izquierda">
                    <ul class="nav-ul-izq">
                        <li class="nav-li-izq"><a href="/marketplace" class="nav-li-a">Marketplace</a></li>
                        <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                        <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Planetas</a></li>
                    </ul>
                </div>
                <div class="nav-derecha">
                    <ul class="nav-ul-der">
                        <li class="nav-li-der"><a href="/carrito" class="nav-li-a">Carrito</a></li>
                        <li class="nav-li-der"><a href="/register" class="nav-li-a">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                    </ul>
                </div>
            </nav>
    </header>
    <main id="main-home">
        <div class="main-img-container">
            <div class="div-main-img1">
                <img src="img/main-img.jpg" alt="main-img" class="main-img1">
            </div>
            <div class="div-logo-banner">
                <img src="img/logo-blanco.png" class="logo-banner"><!--provisorio, cuando se borre borrar tambien ".logo-banner" en el css-->
            </div>
        </div>
        <div class="container-civ">
            <div class="div-civilizacion-img">
                <img src="img/civilizacion-img1.jpg" alt="civilizacion-img1.jpg" class="civilizacion-img1" />
            </div>
            <div class="div-civilizacion-txt">
                <h1 class="h1-civilizacion">Crea tu propia civilización</h1>
                <p class="p-civilizacion">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                <br>
                Cumque, molestiae quia voluptatem ad dolorum repudiandae id 
                <br>
                praesentium obcaecati fuga iste, magnam eligendi cupiditate, neque mollitia!
                </p>
            </div>
        </div>
        <h1 class="h1-elige-raza">Elige tu raza</h1>
        <div class="container-raza">
            <div class="raza-1">
                <img src="img/Protoss1.jpg" alt="protoss-1" class="protoss-1">
            </div>
            <div class="raza-2">
                <img src="img/Terran1.jpg" alt="terran-1" class="terran-1">
            </div>
            <div class="raza-3">
                <img src="img/Zerg1.jpg" alt="zerg-1" class="zerg-1">
            </div>
        </div>
    </main>
</body>
<footer>

</footer>
</html>