<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
</head>

<body>
    <header>
            <nav>
                <div class="nav-izquierda">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/marketplace">Marketplace</a></li>
                        <li><a href="#">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                        <li><a href="#">Planetas</a></li>
                    </ul>
                </div>
                <div class="nav-centro">
                    <img src="img/Deer1.png" alt="logo" class="logo">
                </div>
                <div class="nav-derecha">
                    <ul>
                        <li><a href="/marketplace/carrito">Carrito</a></li>
                        <li><a href="#">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                        <li><a href="#">Billetera</a></li> <!--No podemos hacer ninguna pestaña de billetera, por ahora lo dejemos asi pero seguramente borremos esto-->
                    </ul>
                </div>
            </nav>
    </header>
</body>
</html>