<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-centro">
                <a href="/"><img src="img/logo-blanco.png" alt="logo" class="logo"></a>
            </div>
            <div class="nav-izquierda">
                <ul class="nav-ul-izq">
                    <li class="nav-li-izq"><a href="/marketplace" class="nav-li-a">Marketplace</a></li>
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Planetas</a></li>
                </ul>
            </div>
            <div class="nav-derecha">
                <ul class="nav-ul-der">
                    <li class="nav-li-der"><a href="/carrito" class="nav-li-a">Carrito</a></li>
                    <li class="nav-li-der"><a href="/register" class="nav-li-a">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                </ul>
            </div>
        </nav>
</header>
    </header>

    <form class="formulario-login" action= "./views/home.html" method="POST">

        <input class= "casillas-login" type="text" name="usuario" placeholder="Usuario"/>
        <input class= "casillas-login" type="password" name="clave" placeholder="Contraseña" />
        <button class= "boton-login" type="submit"> Ingresar </button>        
        
    </form>
      
</body>
<footer>

</footer>
</html>