<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
 </head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-izquierda">
                <ul class="nav-ul-izq">
                    <li class="nav-li-izq"><a href="/marketplace" class="nav-li-a">Marketplace</a></li>
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Planetas</a></li>
                </ul>
            </div>
            <div class="nav-centro">
                <a href="/"><img src="img/logo-blanco.png" alt="logo" class="logo"></a>
            </div>
            <div class="nav-derecha">
                <ul class="nav-ul-der">
                    <li class="nav-li-der"><a href="/carrito" class="nav-li-a">Carrito</a></li>
                    <li class="nav-li-der"><a href="/register" class="nav-li-a">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                </ul>
            </div>
        </nav>
</header>

    <main>
        <section class="market-section naves">
            <a href="#" class="market-title"><h1 class="market-title">Naves</h1></a>
            <a href="/proximamente" class="ver-todo">VER TODO</a>
                
            <div class="container-mkt">
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/naves/test-spaceship.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#86558096</div>
                    <img src="img/naves/test-spaceship-2.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 321.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#78576958</div>
                    <img src="img/naves/test-spaceship-3.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 657.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#94734382</div>
                    <img src="img/naves/test-spaceship-4.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 35.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#35618909</div>
                    <img src="img/naves/test-spaceship-5.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 999.45</h2>
                    </div>
                </a>
            </div>
            <a href="#" class="market-title"><h1 class="market-title">Armaduras</h1></a>
            <a href="/proximamente" class="ver-todo">VER TODO</a>
            <div class="container-mkt">
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/armaduras/test-armor.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/armaduras/test-armor.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/armaduras/test-armor.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/armaduras/test-armor.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/armaduras/test-armor.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
            </div>
            <a href="#" class="market-title"><h1 class="market-title">Mascotas</h1></a>
            <a href="/proximamente" class="ver-todo">VER TODO</a>
            <div class="container-mkt">
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/mascotas/test-pet-1.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/mascotas/test-pet-2.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/mascotas/test-pet-3.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/mascotas/test-pet-4.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
                <a href="#" class="item-mkt">
                    <div class="item-id">#12345678</div>
                    <img src="img/mascotas/test-pet-5.png" class="item-img">
                    <hr>
                    <div class="item-info-mkt">
                        <h2 class="precio-mkt">Ξ 123.45</h2>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>