/*.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}*/
html {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    margin: 0;
    background-color: #17172E;
}

#main-home {
    background: linear-gradient(rgba(5, 7, 12, .75), rgba(5, 7, 12, .5)), url(/img/fondo-historia.jpg) no-repeat center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*body, html {
    height: 100%;
    background-color: #0E161D;
    margin: 0;
    padding: 0;
    background-image: url("/img/fondo-historia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.h-container {
    display: flex;
}

.h-container div {
    align-items: center;
}

.historia {
    color: #EAEAEA;
    font-size: 12px;
    margin: 0vw 1vw 0vw 22vw;
    line-height: 1.7;
    width: 50%;
}

.historia h1{
    font-size: 25px;
}

.h-portada {
    width: 100%;
    height: auto;
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

.articulos {
    color: #EAEAEA;
    font-size: 13px;
    width: 50%;
    display: flex;
    align-items: center;
}

.articulo-li {
    min-height: 60px;
    font-size: 10px;
    width: 100%;
    background-color: rgba(30, 56, 61, 0.5)/*, rgba(30, 56, 61, 0.5)*/;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
    display: flex;
    align-items: center;
    transition: .3s;
}

.articulo-li:hover {
    cursor: pointer;
    background-color: rgba(54, 107, 117, .7)/*, rgba(54, 107, 117, 0.5)*/;
}

.h-art-img {
    background: transparent;
    width: 30%;
    margin-left: 10px;
    height: auto;
}

.articulo-a {
    width: 80%;
    margin-left: 10px;
    color: #bbbbbb;
    text-decoration: none;
}

.art-ol {
    height: 700px;
    overflow-y: auto;
    width: 50%;
    margin-bottom: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.space-art-div {
    width: 50%;
}

.simplebar-scrollbar {
    margin-right: 1px;
}