* {
    font-family: Orbitron;
}


body {
    margin: 0;
    background-color: #17172E;
}

.logo {
    padding: 10px 0px 10px  80px;
    height: 100px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 3px solid #D6A771;
    align-items: center;
    margin: auto;
}

.nav-ul-izq,  .nav-ul-der {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-li-izq, .nav-li-der {
    margin-left: 25px;
    padding: 10px 0px 10px 0px;
}

.nav-li-a {
    margin: 0 25px;
    text-decoration: none;
    color: #EAEAEA;
    text-transform: uppercase;
    transition-duration: .3s;
}

.nav-li-a:hover {
    color: #D6A771;
    transition-duration: .3s;
}

.hamburger {
    display: none;
}

.nav-derecha {
    margin-left: auto;
    margin-right: 50px;
}

@media (max-width: 813px){ /*------------MOBILE------------------------*/

    /*----HEADER----*/

    .header {
        width: 100vw;
        height: 100px;
        background-color: #070720;
    }

    .logo {
        display: block;
        position: absolute;
        padding: 0;
        top: 0px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .nav-izquierda {
        display: none;
    }

    .nav-derecha {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 32px;
        color: #fff;
        margin-left: 30px;
        margin-top: 30px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    /*--FIN HEADER--*/

}

    @media (min-width: 769px) and (max-width: 1279px){

        /*----HEADER----*/
    
        .header {
            width: 100vw;
            background-color: #070720;
        }
    
        .logo {
            padding: 5px 0px 5px  20px;
            height: 100px;
        }
        
        .nav-li-izq, .nav-li-der {
            margin-left: 15px;
            padding: 5px 0px 5px 0px;
        }
        
        .nav-li-a {
            font-size: 13px;
            margin: 0 3px;
            text-decoration: none;
            color: #EAEAEA;
            text-transform: uppercase;
            transition-duration: .3s;
        }
    
        /*--FIN HEADER--*/

    }

        @media (min-width: 1280px) {

            /*-----HEADER-----*/
        
            .header {
                width: 99vw;
                background-color: #070720;
            }
        
            .logo {
                padding: 5px 0px 5px  20px;
                height: 100px;
            }
            
            .nav-li-izq, .nav-li-der {
                margin-left: 15px;
                padding: 5px 0px 5px 0px;
            }
            
            .nav-li-a {
                font-size: 13px;
                margin: 0 3px;
                text-decoration: none;
                color: #EAEAEA;
                text-transform: uppercase;
                transition-duration: .3s;
            }
        
            /*--FIN HEADER--*/

        }

        .image-planeta {
            position: absolute;
            z-index: 1;
            width: 99vw;
            height: auto;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
          
          /* Posicionar texto en el medio de la pagina/imagen */
          .bg-text {
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0, 0.4); 
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
          }