

        .image-planeta {
            position: absolute;
            z-index: 1;
            width: 99vw;
            height: auto;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
          
          /* Posicionar texto en el medio de la pagina/imagen */
          .bg-text {
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0, 0.4); 
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
          }