/*Formulario register*/

.formulario-register{
    box-sizing: border-box;
    width: 350px;
    max-width: 90vw;
    background-color: #11113d;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

.title{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #fff;
}

.casillas{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 15px;
    background-color: #070720;
    color: #fff;
}

.casillas:focus {
    outline: 2px solid #D6A771;
}

.casillas.error{
    border: 2px red solid;
    background-color: rgb(255, 210, 210);
}

.casillas.error:focus {
    outline: none;
}

.formulario-register h3{
    font-size: 18px;
    padding-bottom: 10px;
    text-align: left;    
    color: #fff;
}

.formulario-register h3 .perfil{
    font-size: 18px;
    padding-bottom: 5px;
    text-align: left; 
    color: #fff;
}

.ya-tienes-cuenta {
    font-size: 14px;
    color: white;
    font-weight: normal;
}

.ya-tienes-cuenta a {
    color: blue;
}

#intereses {
    padding-top: 10px;
}

.checksbox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.formulario-register .boton{
    width: 100%;
    background-color: #d6d6d6;
    border: none;
    padding: 12px;
    color: white;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: not-allowed;
    transition: background-color 450ms;
}

#btn-register.form-filled {
    background-color: #1259c3;
    cursor: pointer;
}

#btn-register.form-filled:hover{
    background-color: #D6A771;
}

@media (min-width: 1280px){
    .formulario-register{        
        width: 400px;
    }

    .title{
        font-size: 27px;        
    }
    .casillas{
        font-size: 20px;
    }

    .formulario-register h3{
        font-size: 23px;
    }

    .formulario-register h3 .perfil{
        font-size: 23px;
    }

    .formulario-register .boton{
        font-size: 21px;
    }

    label{
        font-size: 22px;
    }
}

/*Fin formulario register*/