* {
    font-family: Orbitron;
}

body {
    margin: 0;
    background-color: #17172E;
}

header {
    background-color: #070720;
}

/* Hacer 3 divs para la barra de navegacion
cada uno con width: 33%
*/

.logo {
    width: 180px;
    height: 60px;
    padding-bottom: 25px;
}
nav {
    margin: auto;
    border-top: 3px solid #D6A771;
}

nav ul {
    margin: 0;
    padding: 50px 0;
}

nav ul li {
    float: none;
    display: inline-block;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4) {
    float: left;
}

nav ul li a {
    margin: 0 25px;
    text-decoration: none;
    color: #EAEAEA;
    text-transform: uppercase;
}

nav a:hover {
    color: #D6A771;
    transition-duration: .5s;
}

nav div {
    display: inline-block;
    text-align: center;
}

.nav-izquierda, .nav-derecha {
    width: 40%;
}

.nav-centro {
    width: 19%;
}

nav div ul {
    display: inline-block;
}
/*Marketplace*/


.container-mkt {
    margin: 50px;
}

.item-mkt {
    width: 200px;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.item-mkt hr {
    border: 0;
    height: 1px;
    background-color: #fff;
}

.item-img {
    width: 200px;
}

.item-title-mkt, .precio-mkt {
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
}

/*Fin Marketplace*/