<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('partials/head', {stylesheet: ['style'], title: '404 Not Found'}) %>

<body>
    
    <!--Header-->
    <%- include('partials/header') %>

    <main id="register">
      <div class="cartel-error">
          <h1>Error 404 - La dirección que estas buscando no existe en nuestro servidor.</h1>
          <img src="/img/logo-blanco.png">
      </div>
    </main>
    

</body>
</html>