<!DOCTYPE html>
<html lang="en">

<!--Head-->
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/articulos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia - Starknights</title>
    <link rel="stylesheet"href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <!--Header-->
    <%- include('partials/header') %>
    <main id="main-home">
    <!-- CONTENEDOR DE ARTÍCULOS -->
    <!-- FIN CONTENEDOR DE ARTÍCULOS -->
</main>
</body>
<footer>
    <!--Javascript-->
    <script src="/js/articulos.js"></script>
    <script src="https://kit.fontawesome.com/2a1a03283b.js" crossorigin="anonymous"></script>
    <!--Footer-->
    <%- include('./partials/footer') %>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
</footer>
</html>