<!DOCTYPE html>
<html lang="en">

<!--Head-->
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/historia.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planetas - Starknights</title>
    <link rel="stylesheet"href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <!--Header-->
    <%- include('partials/header') %>
    <main id="main-home">
    <!--Contenedor de la historia y los artículos-->
    <div class="h-container">
        <!--La historia-->
        <div class="historia">
            <h1>EL UNIVERSO DE STARKNIGHTS</h1>
            <br>
            <img src="/img/historiaPortada.jpg" class="h-portada">
            <h2>PARTE 1: EL PASADO LEJANO</h2>
            <p>Hace eones, los Xel'Naga llegaron a nuestra galaxia y crearon vida en innumerables mundos de toda la Vía Láctea. Su objetivo: esperar hasta que dos especies alcanzaran lo que ellos llamaban “pureza de esencia” y “pureza de forma”, y ayudarlas a ascender y convertirse en una nueva forma de vida que tomaría el lugar de los Xel'Naga y volvería a iniciar el ciclo.</p>
            <p>Los Xel'Naga lo llamaban el “ciclo infinito”. Desafortunadamente, resultó ser un nombre poco apropiado.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
            <p>Amón, uno de los Xel'Naga, decidió romper el ciclo y rehacer el universo de acuerdo con sus propios designios. Interfirió directamente con dos especies, los protoss y los zerg, y les infundió la pureza de forma y de esencia, respectivamente. Cuando los demás Xel'Naga descubrieron su plan, Amón liberó a los zerg, que mataron a la mayoría de los Xel'Naga. Sin embargo, finalmente Amón fue derrotado y desterrado.Los Xel'Naga que sobrevivieron se retiraron y entraron en hibernación profunda, y dejaron que los protoss y los zerg se valieran por sí solos. Por mucho tiempo, la vida en la galaxia siguió como siempre... hasta que una intrépida especie de monos calvos bípedos decidió ver qué había allá en las estrellas.</p>
        </div>
        <!--Fin de La historia-->
        <!--Sección de scrollbar-->
        <div class="articulos">
            <ol class="art-ol" data-simplebar data-simplebar-auto-hide="false">
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
                <li class="articulo-li"><img src="/img/protoss.jpg" class="h-art-img"><a href="https://news.blizzard.com/es-mx/starcraft2/23331587/resumen-de-la-historia-de-starcraft" class="articulo-a">Resumen de la historia prueba link.</a></li>
            </ol>
            <div class="space-art-div"></div>
        </div>
        <!--Fin de la sección de scrollbar-->
    </div>
    <!--Fin del contenedor de la historia y los artículos-->
</main>
</body>
<footer>
    <!--Javascript-->
    <script src="https://kit.fontawesome.com/2a1a03283b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <!--Footer-->
    <%- include('./partials/footer') %>
</footer>
</html>