<!DOCTYPE html>
<html lang="en">

<!--Head-->
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/historia.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planetas - Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body  id="principal">
    <!--Header-->
    <%- include('partials/header') %>
    <div class="h-container">
        <div class="historia">
            <h1>El mundo de Starknights.</h1>
            <br>
            <img src="/img/historiaPortada.jpg" class="h-portada">
            <h2>PARTE 1: EL PASADO LEJANO</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus totam deleniti quibusdam, dolorem minima architecto accusamus alias unde, corporis et iure eius,    harum modi? Reprehenderit nemo unde repellat corrupti accusamus!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus totam deleniti quibusdam, dolorem minima architecto accusamus alias unde, corporis et iure eius,    harum modi? Reprehenderit nemo unde repellat corrupti accusamus!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus totam deleniti quibusdam, dolorem minima architecto accusamus alias unde, corporis et iure eius,    harum modi? Reprehenderit nemo unde repellat corrupti accusamus!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus totam deleniti quibusdam, dolorem minima architecto accusamus alias unde, corporis et iure eius,    harum modi? Reprehenderit nemo unde repellat corrupti accusamus!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus totam deleniti quibusdam, dolorem minima architecto accusamus alias unde, corporis et iure eius,    harum modi? Reprehenderit nemo unde repellat corrupti accusamus!</p>
        </div>
        <div class="articulos">
            <ol>
                <li>a</li>
                <li>b</li>
                <li>b</li>
                <li>c</li>
            </ol>
        </div>
    </div>
</body>
<footer>
    <script src="https://kit.fontawesome.com/2a1a03283b.js" crossorigin="anonymous"></script>
    <!--Footer-->
    <%- include('./partials/footer') %>
</footer>
</html>