<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('partials/head', {stylesheet: ['style'], title: 'Inicio'}) %>

<body  id="principal">
    
    <!--Header-->
    <%- include('partials/header') %>
    <main id="main-home">
        <div class="main-img-container">
            <div class="div-main-img1">
                <img src="img/main-img.jpg" alt="main-img" class="main-img1">
            </div>
            <div class="div-logo-banner">
                <img src="img/logo-blanco.png" class="logo-banner"><!--provisorio, cuando se borre borrar tambien ".logo-banner" en el css-->
            </div>
        </div>
        <div class="container-civ">
            <div class="div-civilizacion-img">
                <img src="img/civilizacion-img1.jpg" alt="civilizacion-img1.jpg" class="civilizacion-img1" />
            </div>
            <div class="div-civilizacion-txt">
                <h1 class="h1-civilizacion">Crea tu propia civilización</h1>
                <p class="p-civilizacion">
                    Explora el universo de Starknights y sus decenas de planetas únicos. Coopera o combate con otros jugadores en línea para dominar planetas enteros, con un sistema basado en el desarrollo no sólo de tu personaje, ¡Sino también de una civilización entera! 
                </p>
            </div>
        </div>
        <h1 class="h1-elige-raza">Elige tu raza</h1>
        <div class="container-raza">
            <div class="raza">
                <h2>Protoss</h2>
                <img src="img/Protoss1.jpg" alt="protoss-1" class="protoss-1">
                <ul>
                    <li>Orientado al combate</li>
                    <li>Rápidos</li>
                </ul>
            </div>
            <div class="raza">
                <h2>Terran</h2>
                <img src="img/Terran1.jpg" alt="terran-1" class="terran-1">
                <ul>
                    <li>Orientado a la exploración</li>
                    <li>Inteligentes</li>
                </ul>
            </div>
            <div class="raza">
                <h2>Zerg</h2>
                <img src="img/Zerg1.jpg" alt="zerg-1" class="zerg-1">
                <ul>
                    <li>Orientado al combate</li>
                    <li>Resistentes</li>
                </ul>
            </div>
            <h1 class="h1-elige-raza">Explora el Universo</h1>
        </div>


    </main>

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>