<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('partials/head', {stylesheet: 'style', title: 'Inicio'}) %>

<body  id="principal">
    
    <!--Header-->
    <%- include('partials/header') %>
    <main id="main-home">
        <div class="main-img-container">
            <div class="div-main-img1">
                <img src="img/main-img.jpg" alt="main-img" class="main-img1">
            </div>
            <div class="div-logo-banner">
                <img src="img/logo-blanco.png" class="logo-banner"><!--provisorio, cuando se borre borrar tambien ".logo-banner" en el css-->
            </div>
        </div>
        <div class="container-civ">
            <div class="div-civilizacion-img">
                <img src="img/civilizacion-img1.jpg" alt="civilizacion-img1.jpg" class="civilizacion-img1" />
            </div>
            <div class="div-civilizacion-txt">
                <h1 class="h1-civilizacion">Crea tu propia civilización</h1>
                <p class="p-civilizacion">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                <br>
                Cumque, molestiae quia voluptatem ad dolorum repudiandae id 
                <br>
                praesentium obcaecati fuga iste, magnam eligendi cupiditate, neque mollitia!
                </p>
            </div>
        </div>
        <h1 class="h1-elige-raza">Elige tu raza</h1>
        <div class="container-raza">
                <a href="https://google.com">
                    <img src="img/Protoss1.jpg" alt="protoss-1" class="protoss-1">
                </a>
                <a href="fb.com">
                    <img src="img/Terran1.jpg" alt="terran-1" class="terran-1">
                </a>
                <a href="twitter.com">
                    <img src="img/Zerg1.jpg" alt="zerg-1" class="zerg-1">
                </a>
        </div>
    </main>

    <!--Footer-->
    <%- include('./partials/footer') %>

    <script src="/js/home.js"></script>

</body>
</html>