<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('partials/head', {stylesheet: 'style', title: 'Proximamente'}) %>

<body>
    
    <!--Header-->
    <%- include('partials/header') %>

    <div class="cartel-error">
        <h1>Estamos trabajando en algunas funciones, disculpe las molestias.</h1>
        <img src="img/logo-blanco.png">
    </div>
    
    <!--Footer-->
    <%- include('./partials/footer') %>

</body>
</html>