<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starknights</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-centro">
                <a href="/"><img src="img/logo-blanco.png" alt="logo" class="logo"></a>
            </div>
            <div class="nav-izquierda">
                <ul class="nav-ul-izq">
                    <li class="nav-li-izq"><a href="/marketplace" class="nav-li-a">Marketplace</a></li>
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                    <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Planetas</a></li>
                </ul>
            </div>
            <div class="nav-derecha">
                <ul class="nav-ul-der">
                    <li class="nav-li-der"><a href="/marketplace/carrito" class="nav-li-a">Carrito</a></li>
                    <li class="nav-li-der"><a href="/register" class="nav-li-a">Cuenta</a></li> <!--Hacer un drop menu para iniciar sesion, registrarse o configurar la cuenta-->
                </ul>
            </div>
        </nav>
</header>
    
    <form class= "formulario-register" action="/creatucuenta" method="POST">
        <h4 class="title">Registro de usuario </h4>
        <h4 class="ya-tienes-cuenta">¿Ya tienes cuenta? - <a href="/login">Iniciar sesión</a></h4>
        <input class="casillas" type="text" name="usuario" placeholder="Nombre y Apellido"/>
        <br>
        <input class="casillas" type="text" name="usuario" placeholder="Usuario"/>
        <br>
        <input class="casillas" type="email" name="email" placeholder="Correo Electrónico" required/>
        <br>
        <h3> Fecha de Nacimiento </h3>
        <input class="casillas" type="date" min="1950-01-01" max="2021-12-01" name="fecha" />
        <br>
        <input class="casillas" type="text" name="usuario" placeholder="Domicilio"/>
        <br>
        <h3 class="titulos"> Ingresé su foto de perfil </h3>
        <input class= "archivo" type="file" name="archivo" accept=".jpg" />
        <br>
        <input class="casillas" type="password" name="clave" placeholder="Contraseña" required />
        <input class="casillas" type="password" name="clave" placeholder="Confirme su contraseña" required />
        <button class= "boton" type="reset"> Reiniciar </button>
        <button class= "boton" type="submit"> Enviar </button>        
        
      </form>

</body>

<footer>

</footer>
</html>