<div id="acc-menu">
    <a href="/users/profile/account">
        <div class="acc-menu-ctn" id="acc-menu-account">
            <p><i class="fa-solid fa-house"></i>  Cuenta</p>
        </div>
    </a>
    <a href="/users/profile/inventory">
        <div class="acc-menu-ctn" id="acc-menu-inventory">
            <p><i class="fa-solid fa-briefcase"></i>  Inventario</p>
        </div>
    </a>
    <a href="/users/profile/activity">
        <div class="acc-menu-ctn" id="acc-menu-activity">
            <p><i class="fa-solid fa-clock-rotate-left"></i>  Actividad</p>
        </div>
    </a>
    <a href="/users/profile/settings">
        <div class="acc-menu-ctn" id="acc-menu-settings">
            <p><i class="fa-solid fa-gear"></i>  Configuración</p>
        </div>
    </a>

    <form action="/users/logout" method="post"><button type="submit" id="acc-menu-logout" class="header-btn logout-header-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i>  CERRAR SESIÓN</button></form>

</div>
<script src="/js/accountMenu.js"></script>