<footer>
    <div class="footer-pri">
        <div class="footer-logo">
            <div>
                <a href="/"><img src="/img/logo-blanco.png" alt="logo" class="foot-logo"></a>
            </div>
            <div>
                <p>Copyright 2022 © Starknights.</p>
                <p>Todos los derechos reservados.</p>
            </div>
        </div>
        <div class="footer-cuenta">
            <p><strong>CUENTA</strong></p>
            <a href="/users/register">Registrarse</a><br>
            <a href="/users/login">Iniciar Sesión</a><br>
            <a href="/proximamente">Términos y Condiciones</a><br>
            <a href="/proximamente">Política de Privacidad</a><br>
        </div>
        <div class="footer-social">
            <p><strong>REDES SOCIALES</strong></p>
            <div class="social-logos">
                <div>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter-square twitter"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram-square instagram"></i></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin linkedin"></i></a>
                </div>
                <div>
                    <a href="/proximamente"><i class="fa-solid fa-square-envelope mail"></i></a>
                </div>
            </div>
        </div>           
    </div>
</footer>