<header class="header">
    <nav class="nav">
        <i class="fas fa-bars hamburger"></i>
        <div class="nav-centro">
            <a href="/"><img src="/img/logo-blanco.png" alt="logo" class="logo"></a>
        </div>
        <div class="nav-izquierda">
            <ul class="nav-ul">
                <li><a href="/marketplace">Marketplace</a></li>
                <li><a href="/proximamente">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                <li><a href="/planetas">Planetas</a></li>
            </ul>
        </div>
        <div class="nav-derecha">
            <ul class="nav-ul">
                <li><a href="/marketplace/carrito">Carrito</a></li>
                <li id="boton-cuenta">
                    Cuenta
                    <% if(locals.isUserLogged == true) { %>
                        <ul class="dropdown" id="dropdown-user-logged">
                            <a href="/users/profile"><li>Perfil</li></a>
                            <form action="/users/logout" method="post"><button type="submit" class="logout-header">CERRAR SESIÓN</button></form>
                        </ul>
                    <% } else { %>
                        <ul class="dropdown" id="dropdown-user-not-logged">
                            <a href="/users/register"><li>Registrarse</li></a>
                            <a href="/users/login"><li>Iniciar Sesión</li></a>
                        </ul>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <script src="/js/header.js"></script>
</header>