<header class="header">
    <nav class="nav">
        <i class="fas fa-bars hamburger"></i>
        <div class="nav-centro">
            <a href="/"><img src="/img/logo-blanco.png" alt="logo" class="logo"></a>
        </div>
        <div class="nav-izquierda">
            <ul class="nav-ul-izq">
                <li class="nav-li-izq"><a href="/marketplace" class="nav-li-a">Marketplace</a></li>
                <li class="nav-li-izq"><a href="/proximamente" class="nav-li-a">Historia</a></li> <!--Mas adelante hagamos esta pestaña y la de planetas, por ahora van a llevar a una pestaña de proximamente-->
                <li class="nav-li-izq"><a href="/planetas" class="nav-li-a">Planetas</a></li>
            </ul>
        </div>
        <div class="nav-derecha">
            <ul class="nav-ul-der">
                <li class="nav-li-der"><a href="/marketplace/carrito" class="nav-li-a">Carrito</a></li>
                <li class="nav-li-der" id="boton-cuenta">
                    Cuenta
                    <% if(locals.isUserLogged == true) { %>
                        <ul class="dropdown" id="dropdown-user-logged">
                            <a href="/users/profile"><li>Perfil</li></a>
                            <form action="/users/logout" method="post"><button type="submit" class="logout-header">CERRAR SESIÓN</button></form>
                        </ul>
                    <% } else { %>
                        <ul class="dropdown" id="dropdown-user-not-logged">
                            <a href="/users/register"><li>Registrarse</li></a>
                            <a href="/users/login"><li>Iniciar Sesión</li></a>
                        </ul>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <script src="/js/header.js"></script>
</header>