<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {stylesheet: 'style', title: 'Error'}) %>
<body>
    <%- include('../partials/header') %>

    <div class="cartel-error">
        <h1>Hubo un problema con la base de datos, por favor intente nuevamente más tarde</h1>
        <i class="fa-solid fa-screwdriver-wrench"></i>
    </div></body>
</html>