<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head', {stylesheet: 'style', title: 'Perfil'}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header') %>

    <main>
        <h1 class="titulo-perfil">
            Bienvenido <%= locals.user.usuario %>
        </h1>
        <form action="/users/logout" method="post">
            <div class="center">
                <button class="delete-button">Cerrar Sesión</button>
            </div>
        </form>

    </main>

</body>